<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.study.jasmin.jasmin">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".core.JasminApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.RegistActivity"
            android:label="@string/regist_regist"
            android:parentActivityName=".ui.activity.IntroActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.IntroActivity" />
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/login_login"
            android:parentActivityName=".ui.activity.IntroActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.IntroActivity" />
        </activity>
        <activity
            android:name=".ui.dialog.FindPwDialog_backup"
            android:label="@string/login_find_password"
            android:theme="@style/AppDialogTheme" />
        <activity
            android:name=".ui.dialog.AlertDialog"
            android:label="@string/manage_moneybook"
            android:theme="@style/AppDialogTheme" />
        <activity
            android:name=".ui.activity.GroupAddActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.dialog.MoneybookDialog"
            android:theme="@style/AppDialogTheme" />
        <activity
            android:name=".ui.activity.GroupInviteActivity"
            android:label="@string/invite_title" />
        <activity android:name=".ui.activity.GroupMainActivity" />
        <activity
            android:name=".ui.activity.GroupReplyActivity"
            android:label="@string/reply_title" />
        <activity
            android:name=".ui.activity.AttendanceCheckActivity"
            android:label="@string/attendance_title" />
        <activity
            android:name=".ui.activity.AssignmentCheckActivity"
            android:label="@string/assignment_title" />
        <activity
            android:name=".ui.activity.GroupStudyInfoActivity"
            android:label="@string/info_study" />
        <activity android:name=".ui.activity.GroupMemberInfoActivity" />
        <activity android:name=".ui.activity.GroupPenaltyActivity" />
        <activity android:name=".ui.activity.GroupAttendanceInfoActivity" />
        <activity android:name=".ui.activity.GroupMoneybookInfoActivity" />
        <activity
            android:name=".ui.activity.SettingAssignmentActivity"
            android:label="@string/setting_assignmentList" />
        <activity
            android:name=".ui.activity.SettingAssignmentAddActivity"
            android:label="@string/setting_assignmentAdd" />
        <activity
            android:name=".ui.activity.SettingGroupInfoActivity"
            android:label="@string/setting_group_info" />
        <activity
            android:name=".ui.activity.SettingGroupPenaltyActivity"
            android:label="@string/setting_group_penalty" />
        <activity android:name=".ui.activity.MyScrabActivity" />
        <activity android:name=".ui.activity.MyPenaltyActivity" />
        <activity android:name=".ui.activity.MyActActivity" />
        <activity android:name=".ui.activity.DeveloperActivity" />
        <activity android:name=".ui.activity.EditInfoActivity" />
        <activity android:name=".ui.activity.SendCustomerCenterActivity" />
        <activity android:name=".ui.activity.SendCustomerCenterActivity2" />
        <activity android:name=".ui.activity.ServiceHelpActivity" />
        <activity android:name=".ui.activity.GroupSettingAlarmListActivity" />
        <activity android:name=".ui.activity.GroupSettingAlarmAddActivity" />
        <activity
            android:name=".ui.activity.GroupNoticeAddActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".ui.activity.GroupNoticeDetailActivity" />
        <activity
            android:name=".ui.activity.GroupManageAttendanceActivity"
            android:label="@string/manage_attendance"></activity>
        <activity
            android:name=".ui.activity.GroupManageAssignmentActivity"
            android:label="@string/manage_assignment" />
        <activity
            android:name=".ui.activity.GroupManageReceivablesActivity"
            android:label="@string/manage_receivables" />
        <activity
            android:name=".ui.activity.GroupManageMoneybookActivity"
            android:label="@string/manage_moneybook" />
    </application>

</manifest>